<div class = "container">
    <div class="row">
    <div class="col-sm-8"> <h3>Search For User: <input [(ngModel)]="text" (input)="SearchLetters()" placeholder="Enter Username Here"></h3> </div>
    <div class="col-sm-4"><app-lang-select class="" (newLangSelectedEvent)="langSelected($event)"></app-lang-select>
        <button class="btn btn-light kwik-btn"(click)="GetBestUsers(0)">Overall</button> </div>   
        
    </div>
    

    <table class = "table table-bordered table-hover table-dark">
        <thead>
            <th scope="col">Ranking</th>
            <th scope="col">Username</th>
            <th scope="col">Accuracy</th>
            <th scope="col">WPM</th>
        </thead>
        <tbody>
            <tr *ngFor="let LBModel of FilteredLBModels">
                <td>{{LBModel.ranking}}</td>
                <span *ngIf="LBModel.userName;then thenBlock; else elseBlock"></span>
                <ng-template #thenBlock><td>{{LBModel.userName}}</td></ng-template>
                <ng-template #elseBlock><td>{{LBModel.name}}</td></ng-template>
                <td>{{LBModel.averageAcc | displayPercent}}%</td>
                <td>{{LBModel.averageWPM}}</td>
            </tr>
        </tbody>
    </table>
</div>
