<div class = "container">
    <button class="kwik-btn"><fa-icon (click)="GetCompetitions()" [icon]="faSync"></fa-icon></button>
    <table class = "table table-bordered table-hover table-dark">
        <thead>
            <th>Category</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
        </thead>
        <tbody>
            <ng-container *ngFor="let model of CurrentCompModels;" >
                <tr [routerLink]="['/CompetitionTest',model.compId]" class="hover-highlight">
                    <td class="opac">{{model.category | displayCategory}}</td>
                    <td class="opac">{{model.name}}</td>
                    <td class="opac">{{model.start | displayDate}}</td>
                    <td class="opac">{{model.end | displayDate}}</td>
                    <td class="opac">
                        <button class="kwik-btn"
                        [routerLink]="['/CompetitionResult',model.compId]">
                            Results
                        </button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

