.test_info{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.test_site{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    position: relative;
    left: 0%;  
}
.test_site textarea{
    width: 600px;
    height: 400px;
}
.input-form{
    text-align: center;
    margin-top: 20px;
    color: #ccc;
}
.input-form .info-box{
    padding: 10px;
}
.info-box {
    text-align: center;
    background-color: var(--dark0_soft);
    border-color: var(--dark0_hard);
    border-width: 5px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.span-align > span{
    padding: 3px 0;

}
.span-align{
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info-text{
    color: var(--bright_aqua);
}

.info-value{
    color: var(--bright_purple);
    font-size: 25pt;
}
.info-value-author{
    color: var(--bright_purple);
    font-size: 15pt;
}
