<div class="container">
    <div class="">
        <div class="col">
            <div class="info-box justify-content-center">
                <span class="info-text">Current Category</span>
                <br>
                <app-lang-select class="info-box justify-content-center" (newLangSelectedEvent)="langSelected($event)"></app-lang-select>
            </div>            
        </div>
        <div *ngIf="testmat.author" class="col">
            <div class="info-box">
                <span class="info-text">Author</span>
                <br>
                <span class="info-value-author">{{testmat.author}}</span>
            </div>
        </div>
        <div class="col">
            <div class="info-box">
                <span class="info-text">Errors</span>
                <br>
                <span class="info-value">{{ state.errors }}</span>
            </div>
        </div>
        <div class="col">
            <div class="info-box">
                <span class="info-text">Wpm</span>
                <br>
                <span class="info-value">{{wpm}}</span>
            </div>
            
        </div>
        <div *ngIf="category!=-1" class="col">
            <div class="info-box">
                <span class="info-text">Timer</span>
                <br>
                <span class="info-value">{{minutes}} : {{seconds}}</span>
            </div>
        </div>
    </div>
</div>

<div class="container input-form">
    <div tabindex="0" (click)= "focusinput" (keydown)="keyIntercept($event)" class="text-light info-box p-4" ><span *ngFor="let t of state.wordarray; index as i"[attr.id]="'char-'+i">{{t}}</span></div>
    <button class="btn kwik-btn" *ngIf="testmat" (click)="newTest()" >New Test</button>
    <div *ngIf="state.finished">
        <div>
            <h1>{{result.text}}</h1>
            <img src = 'assets/images/{{result.image}}.jpg'>
        </div>
    </div>
</div>
