
<div class="root_container" >
    <main class="main_container">

      <app-nav-bar></app-nav-bar>
        <div class="main-container_bg"></div>
        <div class="main_content">
          <router-outlet></router-outlet>
        </div>
       
    </main>

</div>




  <!--    <header class="main_header">
  
          <div class="top_bar">
            <svg (click)="displayMenu()" class="menu_icon">
                <rect width="45" height="6" y="20"></rect>
                <rect width="45" height="6" y="30"></rect> 
                <rect width="45" height="6" y="40"></rect>  
            </svg>
  
          <a class="logo_icon">
              <img src="https://api.freelogodesign.org/files/610f46969ca84d6aa71e0ef605b9caeb/thumb/logo_200x200.png?v=637589090550000000" alt="logo"/>
          </a>

          <ul class="login_container">
            <li>
              <a href="test">Take a Test</a>
            </li>
            <li>
              <a href="profile">Profile</a>
            </li>
            <li>
              <a href="competitions">Competitions</a>
            </li>
            <li>
              <a href="leaderboard">Leaderboards</a>
            </li>
            <li>
              <app-authentication-button></app-authentication-button>
            </li>
          </ul> 
          </div>
      </header> --> 


