<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
            <div class="info-box">
                <span class="info-text">Current Category</span>
                <br>
                <span class="info-value">{{category | displayCategory}}</span>
            </div>
        </div>
        <div class="col-2">
            <div class="info-box">
                <span class="info-text">Author</span>
                <br>
                <span class="info-value-author">{{author}}</span>
            </div>
        </div>
        <!-- <div class="col-3">
            <div class="info-box">
                <span class="info-text">Current Category</span>
                <br>
                <span class="info-value">{{categoryName}}</span>
            </div>
        </div> -->
        <div class="col-2">
            <div class="info-box">
                <span class="info-text">Errors</span>
                <br>
                <span class="info-value">{{ state.errors }}</span>
            </div>
        </div>
        <div class="col-2">
            <div class="info-box">
                <span class="info-text">Wpm</span>
                <br>
                <span class="info-value">{{wpm}}</span>
            </div>
            
        </div>
    </div>
</div>
    <!-- <div class="test_info">
        
    </div> -->
<div class="mt-2">
    <div class="container-fluid input-form">
      <div class="row">
          <div class="col-12">
            <pre tabindex="0" (click)= "focusinput" (keydown)="keyIntercept($event)" class="text-light bg-dark p-4" ><span *ngFor="let t of state.wordarray; index as i"[attr.id]="'char-'+i">{{t}}</span></pre>
          </div>
      </div>
    </div>
</div>
